services:
  backend:
    build: ./backend
    container_name: plexusertracking-backend
    ports:
      - "5000:5000"
    networks:
      - plexnet

  frontend:
    build: ./frontend
    container_name: plexusertracking-frontend
    ports:
      - "8082:80"
    networks:
      - plexnet

networks:
  plexnet:
    driver: bridge