services:
  backend:
    build: ./backend
    container_name: plexusertracking-backend
    ports:
      - "5000:5000"
    networks:
      - plexusertracking_default

  frontend:
    build: ./frontend
    container_name: plexusertracking-frontend
    ports:
      - "8082:80"
    depends_on:
      - backend
    networks:
      - plexusertracking_default

networks:
  plexusertracking_default:
    driver: bridge
