services:
  backend:
    build: ./backend
    container_name: plexusertracking-backend
    ports:
      - "5052:5052"

  frontend:
    build: ./frontend
    container_name: plexusertracking-frontend
    ports:
      - "8082:80"
