services:
  backend:
    build: ./backend
    container_name: PlexUserTracking-backend
    ports:
      - "5050:5000"
    volumes:
      - ./backend/config:/config
      - ./backend/data:/data
      - ./backend/logs:/logs
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: PlexUserTracking-frontend
    environment:
      - REACT_APP_API_URL=http://backend:5000
    ports:
      - "8082:80"
    depends_on:
      - backend
    restart: unless-stopped
