version: "3.9"

services:
  backend:
    container_name: PlexUserTracking-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5050:5000"
    environment:
      - TZ=America/Chicago
    volumes:
      - ./backend/config:/config
      - ./backend/data:/data
      - ./backend/logs:/logs
    restart: unless-stopped

  frontend:
    container_name: PlexUserTracking-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8082:80"
    environment:
      - REACT_APP_API_URL=http://backend:5000
    depends_on:
      - backend
    restart: unless-stopped
