version: "3.8"
services:
  plexpayments:
    build: .
    container_name: plexpayments
    restart: unless-stopped
    volumes:
      - ./config:/config:ro
      - ./data:/data
      - ./logs:/logs
    environment:
      - PYTHONUNBUFFERED=1
